// * { border: .5px solid red }
$base_form_color: $color-mid;

#color_test { background-color: $base_form_color; }

#booking_form_wrapper {

    

    input, textarea, button, label, fieldset { 
        border: none; 
        font-family: $font_Roboto;
        font-weight: 300;
    }

    input, textarea { 
        font-size: 14px;
        outline: none;
        padding: 5px 7.5px;
        width: 100%;
        color: $color_dark;
        
    }

    input {
        // border-bottom: 2px solid $color_dark;
        &[type=text], &[type=email], &[type=tel] {
            line-height: 15px;
        }
        &[type=submit] {
            width: 200px;
            padding: 15px;
            border: none;
            background-color: $color_light;
        }
    }

    input[type=text], input[type=email], input[type=tel], textarea {
        background-color: fade-out(lighten($color-light, 0%),  0);
        // border-radius: 10px;
        transition: box-shadow .25s linear;


        // box-shadow: -1px -2px 2px darken($base_form_color, 15%),
        //             1px 2px 2px lighten($base_form_color, 3%) ;
        // &:focus {
        //     box-shadow: 1px 2px 2px darken($base_form_color, 15%),
        //                 -1px -2px 2px lighten($base_form_color, 3%) ;
        // }
    }

    textarea {
        line-height: 20px;
        overflow-wrap: normal;
        height: 100px;
        resize: none;

        // border: .5px solid $color_dark;
    }

    label {
        font-size: 16px;
        line-height: 100%;
        color: $color_light;
        font-weight: 400;
    }

    #booking_form--header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
        button {
            // background-color: darken($color-mid, 10%);
            
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            padding: 5px 10px;
            height: 30px;
            width: calc(100% / 3);
            margin: 0;
            color: $color_white;
            font-size: 14px;
            cursor: pointer;
            outline: none;
            border-radius: 20px;
            position: relative;

            &:after { 
                content: '';
                position: absolute;
                top: 50%; left: 50%;
                transform: translate( -50%, -50% );
                padding: 40px;
                background-color: $color-mid;
                z-index: -1;

            }
            

            &:nth-of-type(1) { background-image: url(../images/person_dark.svg); 
                &.active { background-image: url(../images/person_white.svg); opacity: 1 } }
            &:nth-of-type(2) { background-image: url(../images/calendar_dark.svg); 
                &.active { background-image: url(../images/calendar_white.svg); } }
            &:nth-of-type(3) { background-image: url(../images/tick_dark.svg); 
                &.active { background-image: url(../images/tick_white.svg); } }

            // box-shadow: -1px -2px 2px darken($base_form_color, 20%),
            //             1px 2px 2px lighten($base_form_color, 3%) ;

            &:nth-of-type(1) {  
                &.blocked { background-image: url(../images/person_locked.svg); } }
            &:nth-of-type(2) {  
                &.blocked { background-image: url(../images/calendar_locked.svg); } }
            &:nth-of-type(3) {  
                &.blocked { background-image: url(../images/tick_locked.svg); } }


            &.active { 
                // &:nth-of-type(1) { background-image: url(../images/person.svg); }
                // &button:nth-of-type(2) { background-image: url(../images/calendar.svg); }
                // &button:nth-of-type(3) { background-image: url(../images/tick.svg); }
                
            }
            &.blocked { }
        }

        #progress {
            display: block;
            position: absolute;
            left: calc( 100% / 6 ); top: 50%;
            height: 2.5px;
            background-color: lighten($color-mid, 0);
            width: 0;
            border-radius: 20px;
            z-index: -2;
            transition: width .5s ease-in-out, left .5s ease-in-out;
            box-shadow: -1px -1px 2px  fade-out( darken($color-mid, 50%) , .1 ) ,
                        1px 1px 1px lighten($color-mid, 20%);
            &.stage_2 { width: calc( 100% / 3 ); }
            &.stage_3 { width: calc( ( 100% / 3 ) * 2);}
            &.stage_1 { left: calc( (100% / 6) - 2.5px );  width: 2.5px }
        }
    }

    #booking_form--body {
        position: relative;
    }

    #booking_form {

        &_details_container {
            // background-color: $color_mid;
            border-radius: 10px;
            padding: 20px;
        }

        #info_block {
            position: relative;
            &.hidden { 
                #info_block--inner {
                    display: none;
                }

                &:after {
                    content: 'Ha extra infot szeretne adni katt ide';
                    position: relative;
                    width: 200px;
                    color: $color_light;
                }
             }
        }



        .booking_form_row {
            position: relative;
            margin-bottom: 15px;
            overflow: hidden;
            // padding: 2px;
            label:not(.no_bg) {
                position: absolute;
                // top: ; left: 2px;
                // left: 1px;
                background-color: $color-dark;
                padding: 6px 10px 3px;
                // border-bottom-left-radius: 10px;
                // border-top-left-radius: 11px;
                line-height: 100%;
                width: 30%;
                height: 100%;
                // z-index: -1;
            }
            input {
                padding-left: calc( 30% + 7.5px );
                // z-index: 1;
            }
        }



        .booking_form_page {
            
            position: relative;
            top: 0; left: 0;
            width: 100%;

            &--inner {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-width: 320px;
            }

            &--footer {
                height: 50px;
                background-color: transparent;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .step_button {
                    position: relative;
                    font-family: $font_Roboto;
                    font-weight: 700;
                    padding: 5px 10px;
                    height: 25px;
                    margin: 0;
                    color: $color-white;
                    background-color: transparent;
                    min-width: 33.33%;
                    text-transform: uppercase;
                    letter-spacing: .1em;
                    line-height: 100%;
                    cursor: pointer;
                    &:active, &:focus { outline: none; }
                    &[type=submit] {background-color: $color_light; color: $color-dark; }
                    &.button_forward {
                        text-align: right;
                        margin-right: 25px;
                        &:after {
                            content: '';
                            position: absolute;
                            top: 50%; right: -25px;
                            transform: translateY(-50%);
                            background-image: url(../images/arrow.svg);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            width: 25px;
                            height: 25px;
                        }
                    }
                    &.button_backward {
                        text-align: left;
                        margin-left: 25px;
                        &:after {
                            content: '';
                            position: absolute;
                            top: 50%; left: -25px;
                            transform: translateY(-50%) rotateZ( 180deg );
                            background-image: url(../images/arrow.svg);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            width: 30px;
                            height: 30px;

                        }
                    }
                }
            }
        }

    }

    #summary_container {
        width: 100%;
        height: 150px;
    }

    #booking_form--response_container {
        // position: relative;
    }

    #calendar {
    
        // * { border: .5px solid red; }

        position: relative;
        font-family: $font_Roboto;
        border-collapse: collapse;
        // width: calc( 100% + 20px );
        height: 350px;
        letter-spacing: .075em;
        overflow: scroll;
        display: block;
        color: $color-dark;
    
        scrollbar-width: thin;
        scrollbar-color: $color-dark $color-mid;
        scroll-behavior: smooth;

    
        &_head {
            font-family: $font-serif;
            width: 100%;
            min-height: 50px;
            text-transform: uppercase;
            position: fixed;
            top: 25px; left: 0;
            background-color: $color-mid;
            z-index: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            // align-content: center;
            // justify-items: center;
            // width: calc( 100% + 20px );
            tr, th { 
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            &--title {
                font-weight: 900;
                font-size: 14px;
                width: 500px;
                margin: 10px 0 2px;
            }

            &--bottom_row {
                font-family: $font-Roboto;
                font-size: 15px;
                time { font-weight: 700; }
                margin-bottom: 5px;
            }

            .calendar_button {
                background-image: url(../images/arrow.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                // width: 17px;
                // height: 17px;
                padding: 8px 40px;
                cursor: pointer;
            }

            #calendar_month_backwards {
                transform: rotateZ( 180deg );
 
            }
            #calendar_month_forwards {

            }
    
        }
        
        &_body {
            position: absolute;
            top: 85px; left: 0;
            // transform: translateX( -50% );
            width: 100%;

            tr {
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: flex-start;

                th{
                    position: sticky;
                    display: flex;
                    flex-direction: column-reverse;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $color-white;
                    margin-bottom: 10px;

                    time {
                        font-size: 14px;
                        margin: 0 15px 7.5px;
                        font-weight: 500;
                        background-color: $color-dark;
                        width: 25px;
                        border-radius: 50%;
                        color: $color-mid;
                        padding: 2.5px;
                        text-align: center;
                        align-self: flex-start;
                    }
                }
    
                td {
                    position: relative;
    
                    &:not(:last-child):after {
                        content: '';
                        position: absolute;
                        top: -50px; right: 0;
                        height: calc( 100% + 50px );
                        border: .5px solid fade-out($color-dark, .9);
                    }
                    ul {
                        position: relative;                       
                    }
    
                    li {
                        position: relative;
                        font-size: 12px;
                        font-weight: 500;
                        margin: 5px 15px;
                        padding: 7.5px 5px;  
                        background-color: fade-out($color-light, .5);
    
                        &:hover {
                            background-color: $color-white;
                            
                        }
                            
                        label {
                            display: flex;
                            flex-direction: row-reverse;
                            flex-wrap: wrap;
                            justify-content: space-evenly;
                            align-items: center;
                            position: relative;
                            cursor: pointer;
    
                            time {
                                font-size: 12px;
                                font-weight: 500;
                                color: $color-dark;
                                margin: 5px;
                            }
                            
                            input[type=radio] {
                                padding: 100%;
                                cursor: pointer;
                                position: absolute;
                                opacity: 0;
                                
                            }

                            .check_box { position: absolute; width: 100%; height: 100%; padding: 15px 20px;}
                            input[type=radio]:checked ~ .check_box  {
                                border: 5px solid $color-dark;

                            }
                            input[type=radio]:checked ~ .check_box:after {
                                content: '';
                                background-image: url(../images/tick_green.svg);
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 70%;
                                position: absolute;
                                top: -10px; right: -10px;
                                padding: 15px;
                                border-radius: 50%;
                                background-color: $color-dark;
                                box-shadow: 0px 0px 10px fade-out(black, .75);
                                z-index: 5;
                            }
                           

                        }
                        
                    }
                }
            }
        }
    
        td, th {
            min-width: 125px;
            width: calc(100% / 7);
        }
    
        ul {
            li {
                list-style: none;
            }
        }
    }


}

