<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="css/addons/flag.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('index') }}">HelloMenta</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('index') }}"> {% if lang == 'en' %} Index {% else %} Kezdőlap {% endif %} </a></li>
                    <li><a href="{{ url_for('about') }}"> {% if lang == 'en' %} About {% else %} Rólunk {% endif %} </a></li>
                    <li><a href="{{ url_for('services') }}"> {% if lang == 'en' %} Services {% else %} Szolgáltatások {% endif %} </a></li>
                    <li><a href="{{ url_for('contact') }}"> {% if lang == 'en' %} Contact {% else %} Kapcsolat {% endif %} </a></li>
                    <li>
                        <form method="post" action="{{ url_for('change_language') }}">
                            {% if lang == 'en' %}
                                <button type="submit" class="btn btn-sm" name="lang", value="hu" height="30px" width="30px">
                                    <img src="{{ url_for('static', filename='images/flag_hu.png') }}" height="30px" width="30px"/>
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-sm" name="lang", value="en" height="30px" width="30px">
                                    <img src="{{ url_for('static', filename='images/flag_en.png') }}" height="30px" width="30px"/>
                                </button>
                            {% endif %}
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </head>

    <body>

        {% block content %}

        {% endblock content %}
    </body>

</html>