{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    {% for name, day in days.items() %}
                        <th scope="col" class="text-center">{{ name }} - {{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for hour, days in full.items() %}
                    <tr>
                        <th scope="row"> {{ hour }}:00 - {{ hour + 1 }}:00 </th>
                        {% for day, is_full in days.items() %}
                            {% if is_full %}
                                <td class="bg-danger"></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}