{% extends 'base.html' %}

{% block content %}

<style>
    .bg {
        background-image: url("/static/images/background.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="bg">

    <div class="jumbotron text-center">
        <h1 class="display1">Mentálhigiénés segítő beszélgetés</p>
        <h2 class="display2">Jövőfókuszú megoldásokkal</p>
    </div>

    <div class="col-xs-12" style="height:100px;"></div>

    <div class="container mh-100">
        {% for line in text %}
        <div class="row">
            <div class="col text-center">
                <p class="align-middle text-primary"> {{ line }} </p>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col text-center">
                <form method="post">
                    {% if lang == 'en' %}
                        <input type="submit" class="btn btn-primary" value="Contact" />
                    {% else %}
                        <input type="submit" class="btn btn-primary" value="Kapcsolat" />
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock content %}